* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: #333;
}

.container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    height: 60vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.input {
    margin-bottom: 20px;
}

#input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

#input:focus {
    border-color: #6495ED;
    outline: none;
}

.btn {
    background-color: #FFD700;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #FFEA70;
}

.definition {
    margin-top: 48px;
    text-align: left;
}

.word {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.meaning {
    font-size: 1.2rem;
    color: #555;
}

.fetching-message{
    text-align: left;
    font-size: 1.4rem;
    margin-top: 40px;
}